doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title benchmark-memory - Measuring the memory performance of your code

    link(rel="stylesheet", type="text/css", href="build/build.css")

  body

    article

      section(data-bespoke-hash="title")
        h1 benchmark-memory
        h3 Measuring the memory performance of your code

      section.emphatic-text(data-bespoke-backdrop="emphatic", data-bespoke-hash="end")
        p
          b Presentation available at:
        p
          a(href="https://michaelherold.github.io/benchmark-memory_presentation", target="_blank")
            | https://michaelherold.github.io/benchmark-memory_presentation
        p
          b Want to chat?
        ul.contact-list
          li
            i.fa.fa-fw.fa-envelope
            a(href="mailto:michael.j.herold@gmail.com")
              | michael.j.herold@gmail.com
          li
            i.fa.fa-fw.fa-github
            a(href="https://github.com/michaelherold")
              | michaelherold
          li
            i.fa.fa-fw.fa-twitter
            a(href="https://twitter.com/mherold")
              | mherold

    script(src="build/build.js")
